<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Learning Journal</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/blog.css" rel="stylesheet"> 
    <link href="../static/bootstrap.css" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">
  </head>

  <body>
    <script id="template" type="text/x-handlebars-template">
      <main>
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="#">{{title}}</a></h2>
            <p class="blog-post-meta">{{date}}</p>
            <p id="blog-content">{{content}}</p>
        </div>
      </main>
    </script>

    <header>
      <div class="blog-masthead">
        <div class="container">
          <nav class="nav">
            <a class="nav-link active" id='home' href="/">Home</a>
            <a class="nav-link" id="new-entry" href="/journal/new_entry">New Journal Entry</a>
            <a class="nav-link active" href="/journal/1/update">Edit</a>
            <a class="nav-link" href="/journal/1">Details</a>
          </nav>
        </div>
      </div>

      <div class="blog-header">
        <div class="container">
          <h1 class="blog-title">Learning Journal</h1>
          <p class="lead blog-description">John's learning journal for 401.</p>
        </div>
      </div>
    </header>

    <main role="main" class="container">

      <div class="row">

        <div class="col-sm-8 blog-main" id="main-content">
        
          


          <button class="btn btn-outline-primary" id="edit"><a href="#">Edit Entry</a></button>
          <button class="btn btn-outline-primary" id="new-entry-button">New Entry</button>
          
          

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>Learning Journal</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.js"></script> -->
    <!-- <script src="./app.js"></script> -->
  </body>
</html>
