{% extends "layout.jinja2" %}

{% block content %}

<div class="data">
          <div class="blog-post">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.date }}</p>
            <p>{{ entry.body }}</p>
            {% if request.authenticated_userid %}
            <button class="btn btn-outline-primary" id="edit"><a href="{{ request.route_url('update', id=entry.id) }}">Edit Entry</a></button>
            {% endif %}
        </div>
</div>

{% endblock %}