{% extends "layout.jinja2" %}

{% block content %}

<div class="data">
          <div class="blog-post">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.date }}</p>
            <p>{{ entry.body }}</p>
        </div>
</div>

{% endblock %}